body {
  margin: 0 auto;
  width: 100%;
  font-family: Roboto;
  padding-bottom: 5%;
}
#nav   {
  width: 100%;
  margin-top: 2%;
}
.yay {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 1.1px;
  text-align: left;
  color: #707070;
  margin-top: 1.3%;
  margin-left: 1.5%;
  position: absolute;
}
.logo {
  margin-left: 6%;
  width: 55px;
  height: 55px;
}
#nav a {
  float: right;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 1.3%;
}
.sekul {
  margin-right: 6%;
}
.home {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.9px;
  text-align: left;
  color: #707070;
}
.home:hover {
  color: #e4532a; 
  transition: 0.4s;
}
.sekul {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.9px;
  text-align: left;
  color:  #e4532a;
}
.sekul:hover {
  color: #707070;
  transition: 0.4s;
}
.profil {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.9px;
  text-align: left;
  color: #707070;
}
.profil:hover {
  color: #e4532a;
  transition: 0.4s;
}
.galer {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.9px;
  text-align: left;
  color: #707070;
}
.galer:hover {
  color: #e4532a;
  transition: 0.4s;
}

/*konten*/


#konten {
  width: 100%;
}
.kiri {
  width: 39%;
  margin-left: 6%;
}
.ttg {
  font-family: Roboto;
  font-size: 44px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 3.2px;
  text-align: left;
  color: #494949;
}
.sub {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 1.3px;
  text-align: left;
  color: #707070;
}
li {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 1.3px;
  text-align: left;
  color: #707070;
}
.imel {
  margin-top: 3%;
  padding-right: 30px;
}
.kanan {
  float: right;
  margin-right: 0%;
  margin-top: -35%;
}
.kanan img {
  border-radius: 5px;
  width: 42%;
  height: 42%;
  float: right;
  margin-right: 6%;
}

#foto {
  width: 100%;
  margin-top: 20%;
}
.judul {
  font-family: Roboto;
  font-size: 33px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.82;
  letter-spacing: 0.8px;
  color: #373e44;
  margin: 0 auto;
}


.sliderBox {
  max-width: 98%;
  position: relative;
  margin-top: 10%;
}
.sliderBox h2 {
  color: white;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #bababa;
  padding: 0.25em 0.5em;
}
.sliderBox .sliderWrap {
  overflow: hidden;
  margin: 0 3em;
}
.sliderBox .sliderWrap .sliderContent {
  white-space: nowrap;
  margin: 1em 0;
  padding: 0;
  transition: left 1s;
  position: relative;
  left: 0;
  display: inline-block;
}
.sliderBox .sliderWrap .sliderContent li {
  counter-increment: items;
  display: inline-block;
  width: 15em;
  height: 15em;
  padding-right: 1%;
}
.sliderBox .sliderWrap .sliderContent li:before {
}
.sliderBox button {
  border: none;
  background: none;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #bababa;
  outline: none;
  cursor: pointer;
}
.sliderBox button:hover {
  color: #747474;
}
.sliderBox button.right {
  left: auto;
  right: 5%;
}

.foto {
  width: 250px;
  height: 350px;
  margin-left: 50%;
  border-radius: 15px;
}
.foto:hover {
  opacity: 0.8;
}


#fasilitas {
  width: 100%;
  margin-top: 20%;
}

.fasilitas1 {
  width: 300px;
  height: 150px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 10%;
  margin-top: 10%; 
}
.fasilitas1 h6 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 1.5px;
  color: #707070;
  margin-left: 45%;
  margin-top: -18%;

}
.icon {
  width: 50%;
  height: 50%;
  margin-left: -1%;
  margin-top: 12%;
}

.fasilitas2 {
   width: 300px;
  height: 150px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 10%;
  margin-top: 4%; 
}

.fasilitas2 h6 {
  width: 100px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 1.5px;
  color: #707070;
  margin-left: 60%;
  margin-top: -25%;
}

.fasilitas2 img {
  margin-left: 6%;
}

.fasilitas3 {
   width: 300px;
  height: 150px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 38%;
  margin-top: -26.2%; 
}

.fasilitas3 h6 {
  width: 100px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 1.5px;
  color: #707070;
  margin-left: 55%;
  margin-top: -18%;
}

.fasilitas4 {
   width: 300px;
  height: 150px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 38%;
  margin-top: 4%; 
}

.fasilitas4 h6 {
  width: 100px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 1.5px;
  color: #707070;
  margin-left: 65%;
  margin-top: -19%;
}

.fasilitas5 {
   width: 300px;
  height: 150px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 66%;
  margin-top: -26.2%; 
}

.fasilitas5 h6 {
  width: 100px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 1.5px;
  color: #707070;
  margin-left: 46%;
  margin-top: -20%;
}

.fasilitas6 {
   width: 300px;
  height: 150px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 66%;
  margin-top: 4%; 
}

.fasilitas6 h6 {
  width: 100px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 1.5px;
  color: #707070;
  margin-left: 60%;
  margin-top: -25%;
}

#footer {
  width: 100%;
  margin-top: 10%;
}
.batas {
  width: 90%;
  border-radius: 100%;
}
.visi {
  width: 30%;
  margin-top: 8%;
  margin-left: 6%;
}
.vismis {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: -0.1px;
  text-align: left;
  color: #494c50;
  margin-top: -12%;
}
.descv {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.7px;
  text-align: left;
  color: #b4b5b7;
}
.kon {
  width: 15%;
  margin-left: 42%;
  margin-top: -8.4%;
}
.con {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: -0.1px;
  text-align: left;
  color: #494c50;
}
.isi {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.7px;
  text-align: left;
  color: #b4b5b7;
}
.lok {
  width: 15%;
  margin-left: 62%;
  margin-top: -6.6%;
}
.loc {
 font-family: Roboto;
 font-size: 22px;
 font-weight: 500;
 font-style: normal;
 font-stretch: normal;
 line-height: 0.93;
 letter-spacing: -0.1px;
 text-align: left;
 color: #494c50;
}
.sosmed {
  width: 15%;
  float: right;
  margin-right: 5%;
  margin-top: -13.3%;
}
.sos {
 font-family: Roboto;
 font-size: 22px;
 font-weight: 500;
 font-style: normal;
 font-stretch: normal;
 line-height: 0.93;
 letter-spacing: -0.1px;
 text-align: left;
 color: #494c50; 
}
.sosmed img {
  margin-top: -6%;
}
.fb {
  margin-left: -10%;
}
.imel {
    font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.6px;
  text-align: left;
  color: #64b1b9;
  margin-top: 0;
}
.logo-bawah {
  margin-top: 0%;
  margin-left: 6%;
}
.logo-bawah img {
    width: 55px;
  height: 55px;
  margin-top: 1%;
}
.logo-bawah span {
  margin-top: 1.5%;
  margin-left: 2%;
    font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: 0.4px;
  text-align: left;
  color: #777c80;
  position: absolute;
}
.logo-bawah p {
  position: absolute;
  margin-top: -2%;
  margin-left: 6.5%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: 0.4px;
  text-align: left;
  color: #9e9fa3;
}

/*akhir*/